/* Fonts */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: local(""), url("../fonts/montserrat-v15-latin-100.woff2") format("woff2"),
                  url("../fonts/montserrat-v15-latin-100.woff") format("woff");
}
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local(""), url("../fonts/montserrat-v15-latin-regular.woff2") format("woff2"),
                  url("../fonts/montserrat-v15-latin-regular.woff") format("woff");
}
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: local(""), url("../fonts/montserrat-v15-latin-600.woff2") format("woff2"),
                  url("../fonts/montserrat-v15-latin-600.woff") format("woff");
}

/* Base */
:root {
    --primary-color: #7FC364;
    --secondary-color: #D5EAFF;
    --primary-background-color:#001B35;
    --secondary-background-color:#001021;
}
html {
  font-size: 100%;
}
body,
html {
  width: 100%;
  padding: 0;
  margin: 0;
}
html {
  background-color: var(--secondary-background-color);
}
body {
  background-color: var(--primary-background-color);
}
body {
  font-family: "Montserrat", "Trebuchet MS", Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 1.75;
  color: white;
}
button, input, optgroup, select, textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
.light {
  color: var(--secondary-color);
}
.primary {
  color: var(--primary-color);
}
.gradient {
  background: var(--primary-background-color);
  background: linear-gradient(0deg, var(--primary-background-color), var(--secondary-background-color));
}
.inverted-gradient {
  background: var(--primary-background-color);
  background: linear-gradient(0deg, #001225, #001d3a);
}
.button {
  width: 100%;
  display: inline-flex;
  align-items: center;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: 1.275rem 1.85rem;
  margin-bottom: 8px;
  font-size: .9rem;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.2;
  border-radius: .725rem;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  border-image-source: linear-gradient(0deg, var(--primary-background-color), var(--secondary-background-color));
}
.button:focus, .button.focus, .card:focus {
	outline: 0;
  box-shadow: 0 0 0 0.2rem var(--primary-color);
}
.list li:focus {
	outline: 0;
  box-shadow: inset 0px -1px 0 var(--primary-color);
  border-bottom: 1px solid var(--primary-color);
}
.button.disabled, .button:disabled {
  opacity: 0;
}
.button:not(:disabled):not(.disabled) {
  cursor: pointer;
}
.button:not(:disabled):not(.disabled):active, .button:not(:disabled):not(.disabled).active {
  background-image: none;
}
.icon {
  display: inline-block;
  width: 24px;
  height: 24px;
  background-position: center;
  background-size: contain;
}
.stack-overflow {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='42' height='42' viewBox='0 0 42 42'%3E%3Cg fill='none' fill-rule='evenodd' class='design'%3E%3Cg class='layout' transform='translate(-346 -696)'%3E%3Cg class='group-3' transform='translate(130 583)'%3E%3Cg class='group' transform='translate(216 44)'%3E%3Cg class='group-2' transform='translate(0 69)'%3E%3Cg class='stackoverflow'%3E%3Ccircle cx='21' cy='21' r='21' fill='%23FF750B' class='oval'/%3E%3Cpath fill='%236C2F00' fill-rule='nonzero' d='M24.725 9l-1.72 1.277 6.39 8.588 1.716-1.277L24.725 9zm-3.94 3.418l-1.369 1.644 8.225 6.85 1.369-1.644-8.225-6.85zm-3.15 4.465l-.905 1.94 9.702 4.517.904-1.94-9.701-4.517zm-1.85 4.86l-.44 2.093 10.473 2.201.44-2.092-10.473-2.203v.001zM10.89 24.47V33h19.19v-8.53h-2.133v6.397H13.021v-6.396H10.89v-.001zm4.265 2.133v2.13h10.66v-2.13H15.154h.001z' class='shape'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
}
.github {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='42' height='42' viewBox='0 0 42 42'%3E%3Cg fill='none' fill-rule='evenodd' class='design'%3E%3Cg class='layout' transform='translate(-401 -696)'%3E%3Cg class='group-3' transform='translate(130 583)'%3E%3Cg class='group' transform='translate(216 44)'%3E%3Cg class='group-2-copy' transform='translate(55 69)'%3E%3Cg class='github'%3E%3Ccircle cx='21' cy='21' r='21' fill='%23C400BC' class='oval'/%3E%3Cpath fill='%2362005E' fill-rule='nonzero' d='M21 9.297c-6.63 0-12 5.373-12 12 0 5.303 3.438 9.8 8.205 11.385.6.113.82-.258.82-.577 0-.285-.01-1.04-.015-2.04-3.338.724-4.042-1.61-4.042-1.61-.546-1.385-1.335-1.755-1.335-1.755-1.087-.744.084-.729.084-.729 1.205.084 1.838 1.236 1.838 1.236 1.07 1.835 2.809 1.305 3.495.998.108-.776.417-1.305.76-1.605-2.665-.3-5.466-1.332-5.466-5.93 0-1.31.465-2.38 1.235-3.22-.135-.303-.54-1.523.105-3.176 0 0 1.005-.322 3.3 1.23.96-.267 1.98-.399 3-.405 1.02.006 2.04.138 3 .405 2.28-1.552 3.285-1.23 3.285-1.23.645 1.653.24 2.873.12 3.176.765.84 1.23 1.91 1.23 3.22 0 4.61-2.805 5.625-5.475 5.92.42.36.81 1.096.81 2.22 0 1.606-.015 2.896-.015 3.286 0 .315.21.69.825.57C29.565 31.092 33 26.592 33 21.297c0-6.627-5.373-12-12-12' class='path'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
}
.twitter {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='42' height='42' viewBox='0 0 42 42'%3E%3Cg fill='none' fill-rule='evenodd' class='design'%3E%3Cg class='layout' transform='translate(-456 -696)'%3E%3Cg class='group-3' transform='translate(130 583)'%3E%3Cg class='group' transform='translate(216 44)'%3E%3Cg class='group-2-copy-2' transform='translate(110 69)'%3E%3Cg class='twitter'%3E%3Ccircle cx='21' cy='21' r='21' fill='%232984FF' class='oval'/%3E%3Cpath fill='%23003C8E' fill-rule='nonzero' d='M32.953 14.57a10 10 0 0 1-2.825.775 4.958 4.958 0 0 0 2.163-2.723c-.951.555-2.005.959-3.127 1.184a4.92 4.92 0 0 0-8.384 4.482c-4.09-.193-7.713-2.158-10.14-5.126a4.822 4.822 0 0 0-.666 2.475c0 1.71.87 3.213 2.188 4.096a4.904 4.904 0 0 1-2.228-.616v.06a4.923 4.923 0 0 0 3.946 4.827 4.996 4.996 0 0 1-2.212.085 4.936 4.936 0 0 0 4.604 3.417 9.867 9.867 0 0 1-6.102 2.105c-.39 0-.779-.023-1.17-.067a13.995 13.995 0 0 0 7.557 2.209c9.053 0 13.998-7.496 13.998-13.985 0-.21 0-.42-.015-.63A9.935 9.935 0 0 0 33 14.59l-.047-.02z' class='path'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
}
.linkedin {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='42' height='42' viewBox='0 0 42 42'%3E%3Cg fill='none' fill-rule='evenodd' class='design'%3E%3Cg class='layout' transform='translate(-511 -696)'%3E%3Cg class='group-3' transform='translate(130 583)'%3E%3Cg class='group' transform='translate(216 44)'%3E%3Cg class='group-2-copy-3' transform='translate(165 69)'%3E%3Cg class='linkedin'%3E%3Ccircle cx='21' cy='21' r='21' fill='%23BEBEBE' class='oval'/%3E%3Cpath fill='%23545454' fill-rule='nonzero' d='M28 28h-2.883v-4.743c0-1.131-.022-2.587-1.502-2.587-1.503 0-1.733 1.23-1.733 2.503V28H19v-9.754h2.769v1.33h.037C22.193 18.809 23.134 18 24.54 18c2.92 0 3.46 2.019 3.46 4.646V28zM15.5 17c-.832 0-1.5-.673-1.5-1.5a1.5 1.5 0 1 1 1.5 1.5zM17 28h-3V18h3v10zm12.52-17H12.477C11.66 11 11 11.645 11 12.44v17.12c0 .795.66 1.44 1.476 1.44h17.042c.815 0 1.482-.644 1.482-1.44V12.44c0-.794-.667-1.44-1.482-1.44h.003z' class='shape'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
}
.margin-left-8 {
  margin-left: 8px;
}
.margin-left-16 {
  margin-left: 16px;
}
.margin-right-8 {
  margin-right: 8px;
}
.margin-right-16 {
  margin-right: 16px;
}
.margin-bottom-24 {
  margin-bottom: 24px;
}
.margin-bottom-48 {
  margin-bottom: 48px;
}
.primary-nav-group {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
/* Typography */
h1, h2, h3, h4, h5, h6 {
 color: inherit;
}
h1 {
  font-size: 2.488rem;
}
h2 {
  font-size: 2.074rem;
}
h3 {
  font-size: 1.728rem;
}
h4 {
  font-size: 1.44rem;
}
h5 {
  font-size: 1.2rem;
}
h6 {
  font-size: 0.833rem;
}

/* Grid */
body {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto 1fr auto;
  grid-template-areas: "header" "main" "footer";
}
header {
  grid-area: header;
}
main {
  flex: 1 1;
  grid-area: main;
}
footer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px 0;
  margin-top: 48px;
  grid-area: footer;
}

strong {
  font-style: normal;
  font-weight: 600;
}

/* Containers */
.container-fluid {
  margin-right: auto;
  margin-left: auto;
}
.container-fluid.full {
  margin-left: 0 !important;
  margin-right: 0 !important;
  padding: 0 !important;
}
.container-fluid.full .row {
  padding: 0 24px;
  margin-top: 32px;
  margin-bottom: 48px;
}
.container {
  padding: 0 24px;
  margin-right: auto;
  margin-left: auto;
}
/* Heroine */
.heroine {
  height: 40vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-right: 24px;
  padding-left: 24px;
  margin-top: 0 !important;
}
/* Card */
.card {
  display: flex;
  align-items: center;
  border-radius: .725rem;
  padding: 1.975rem 2.25rem;
  background: var(--secondary-background-color);
  box-shadow: 4px 8px 16px 0px rgb(0 19 37 / 67%), 5px 5px 15px 5px rgb(0 27 53 / 95%);
}
.card .name {
  font-weight: 600;
  font-size: 1.125rem;
  line-height: 1;
}
.card .office {
  color: #d5eaff;
  opacity: .7;
  margin-bottom: 8px;
}
.portrait {
  border-radius: 50%;
  display: inline-flex;
  width: 96px;
  min-width: 96px;
  max-width: 96px;
  height: 96px;
  overflow: hidden;
  position: relative;
  margin-right: 16px;
}
.portrait img {
  width: 100%;
  height: auto;
  position: absolute;
  transform: translate(0%,-10%);
}
.social {
  display: inline-flex;
}
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(296px, 1fr));
  grid-gap: 16px;
}
.list {
  box-shadow: inset -1px 3px 8px 5px #021c38, 4px 8px 16px 0px rgb(0 19 37 / 67%), 5px 5px 15px 5px rgb(0 27 53 / 95%);
  border-radius: .725rem;
}
.list {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 0px;
}
.list .card {
  box-shadow: none;
}
.list > * {
    border-bottom: 1px solid #021c38;
}
.list li:first-child {
    border-top: 1px solid transparent;
    border-radius: .725rem .725rem 0 0;
}
.list li:last-child {
    border-bottom: 1px solid transparent;
    border-radius: 0 0 .725rem .725rem;
}
.list .card {
  border-radius: 0rem;
  padding: .875rem 1.25rem;
}
.list li .meta {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.list .inverted-gradient {
  background: var(--secondary-background-color);
}
.list .card .portrait {
  width: 48px;
  min-width: 48px;
  max-width: 48px;
  height: 48px;
}
.list .card .office {
    margin-bottom: 0px;
}
.list > .social {
    display: flex;
    align-items: center;
}

/* Breakpoint 992 */
@media only screen and (min-width: 992px) {
  body {
    grid-template-columns: 1fr;
  }
  .container-fluid.full .row {
    margin-left: 0 !important;
    margin-right: 0 !important;
    padding: 0 !important;
  }
  .container {
    width: 1100px;
  }
  .row {
    flex-direction: row;
  }
  .primary-nav-group {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
  }
  .button {
    width: auto;
    margin-bottom: 0px;
  }
  .icon {
    width: 32px;
    height: 32px;
  }
}
